<html>
  <head>
    <title>Target: Omnicalc-1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <form action="/random/results" method="post">
      <!-- Your form fields go here -->
      <div>
        <label for="min_input">Minimum</label>
        <input type="text" name="user_min" id="min_input" placeholder="E.g. 1.5">
      </div>

      <div>
        <label for="max_input">Maximum</label>
        <input type="text" name="user_max" id="max_input" placeholder="E.g. 4.5">
      </div>

      <button type="submit">Pick random number</button>
    </form>
  </body>
</html>
